<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<div style="text-align: center;"><img height="20%"
                                      src="https://pic.52112.com/2019/05/22/JPG-190522_192/mXIrJJ3rRN_small.jpg " width="25%">
    <h1>Hello and welcome to Chicken System. Please select your authority</h1>
    <pre> </pre>
    <p>
    <h2>
        <a th:href="@{student}">Student</a>
    </h2>
    </p>
    <p>
    <h2>
        <a th:href="@{tutor}">Tutor</a>
    </h2>
    </p>
    <p>
    <h2>
        <a th:href="@{organisator}">Organisator</a>
    </h2>
    </p>

</div>
</body>
</html>