<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Klausur eintragen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <link href="/css/jquery.datetimepicker.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">

    <h1>Neue Klausur eintragen</h1>

    <form method="post" name="klausurform" th:action="@{/klausuren}" th:object="${formattedExam}">
        <div class="alert alert-danger" th:if="${!error}">
            <ul>
                <li th:text="${receipt}">error</li>
            </ul>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="veranstaltung" name="veranstaltung" placeholder=" " th:field="*{name}"
                   type="text" required="required">
            <label for="veranstaltung">Name der Veranstaltung</label>

        </div>


        <div class="form-floating mb-3">
            <input class="form-control" id="lsfId" name="lsfid" placeholder=" " th:field="*{lsfid}" type="text" required="required">
            <label class="form-label" for="lsfId">ID der Veranstaltung im LSF</label>

            <div class="form-text">Sie finden die LSF Veranstaltungs-ID im <a
                    href="https://lsf.hhu.de/qisserver/rds?state=wtree&search=1&category=veranstaltung.browse&navigationPosition=lectures%2Clectureindex&breadcrumb=lectureindex&topitem=lectures&subitem=lectureindex"
                    target="_blank">LSF</a>.
            </div>
        </div>
        <div class="form-check">
            <input checked="checked" class="form-check-input" id="präsenz" name="vor_ort" th:field="*{offline}"
                   type="checkbox"
                   value="true "><input name="_vor_ort" type="hidden" value="on"/>
            <label class="form-check-label" for="präsenz">
                Die Klausur findet in Präsenz statt.
            </label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="tag" name="datum"
                   placeholder=" " th:field="*{date}" type="text" required="required">
            <label class="form-label" for="tag">Datum der Klausur (dd.mm.yyyy)</label>

        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="von" name="von" placeholder=" " th:field="*{begin}" type="text" required="required">
            <label for="von">Klausurbeginn (hh:mm)</label>
            <div class="form-text">Runden Sie die Startzeit auf die nächste vorgegebene Zeit ab. Falls die Klausur vor
                08:30 Uhr beginnt, tragen Sie bitte 08:30 Uhr ein.
            </div>

        </div>

        <div class="form-floating mb-3">
            <input class="form-control" id="bis" name="bis" placeholder=" " th:field="*{end}" type="text" required="required">
            <label class="form-label" for="bis">Klausurende (hh:mm)</label>
            <div class="form-text">Runden Sie die Zeit auf die nächste vorgegebene Zeit auf. Falls die Klausur nach
                13:30 Uhr endet, tragen Sie bitte 13:30 Uhr ein.
            </div>

        </div>

        <button class="btn btn-primary" name="submitbtn" type="submit">Eintragen</button>
    </form>


    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        jQuery('#tag').datetimepicker({
            format: 'd.m.Y',
            timepicker: false,
            lang: 'de',
            weeks: true,
            dayOfWeekStart: 1
        });
        jQuery('#von').datetimepicker({
            format: 'H:i',
            datepicker: false,
            allowTimes: [
                '08:30',
                '09:00', '09:30',
                '10:00', '10:30',
                '11:00', '11:30',
                '12:00', '12:30',
                '13:00', '13:30'
            ]
        });
        jQuery('#bis').datetimepicker({
            format: 'H:i',
            datepicker: false,
            allowTimes: [
                '08:30',
                '09:00', '09:30',
                '10:00', '10:30',
                '11:00', '11:30',
                '12:00', '12:30',
                '13:00', '13:30'
            ]
        });
    </script>
</div>
</body>
</html>

